:root {
    ---color-bg-primary: ;

  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
  }

body {
    max-width: 980px;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

header {
    margin-top: 50px;
}

.header-container {
    background-color: #1b8e99;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    height: 45px;
}

.header-container img {
    position: relative;
    width: 194px;
    height: 146px;
    margin-top: 65px;
}

.header-container ul{
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
}

.header-container li{
    margin-right: 20px;
}

.header-container li:hover{
    background-color: #92c9ce;
    padding: 20px 5px;
    position: relative;
    cursor: pointer;
}

.nav-services {
    background-color: #660000;
}

.nav-services ul {
    color: #fff;
    display: flex;
    height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
}

.nav-services li {
    margin-left: 20px;
}

.nav-services li:hover{
    background-color: #fff;
    color: #660000;
    padding: 30px 5px;
    position: relative;
    cursor: pointer;
}

.container-online-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 20px;
}

.container-online-store h2{
    border-bottom: 2px solid #660000;
    color: #660000;
    padding: 0 640px 13px 0;
    text-transform: uppercase;
}

.container-online-store img{
    height: 77px;
    width: 125px;
}

.catalog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 15px 15px 15px;
}

.card-container {
    border: 1px solid #1b8e99;
    color: #1b8e99;
    width: 300px;
    height: 376px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 25px;
    margin-top: 2px;
    text-align: center;
    font-size: 16px;
}

.card-title h5 {
    background-color: #1b8e9950;
}

.card-container p {
    font-size: 13px;
    font-family: Tahoma;
    margin: 20px;
}

.shopping-area {
    background-color: #1b8e99;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 96px;
    width: 300px;
}

.shopping-area h3{
    font-size: 30px;
    
}

.shopping-area h4{
    font-size: 14px;
    padding: 3px 0 0 5px;
}


.cart-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 68px;
    border-radius: 5px;
}

.card-container:hover {
    border: 1px solid #660000;
    color: #660000;
    cursor: pointer;
    .shopping-area {
        background-color: #660000;
    }
    .card-title h5{
        background-color: #66000058;
    }
}

.splitter {
    border: 1px solid #444444;
    background-color: #444444;
    height: 15px;
    max-width: 953px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.container-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 60px 20px;
}

.container-services h2{
    border-bottom: 2px solid #1b8e99;
    color: #1b8e99;
    padding: 0 685px 13px 0;
    text-transform: uppercase;
}

.container-services img{
    height: 77px;
    width: 125px;
}

.container-catalog-services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card-services {
    display: flex;
    flex-direction: column;
    border: 1px solid #1b8e99;
    width: 300px;
}